* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  resize: both;
}


/*  <-------------- This is what's shown on the website -----------> */
body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

/* <--------- Header --------> */
header h1 {
  display: inline-block;
  font-size: 48px;
  background-color: #c7c7c7;
  color:  #364144;
}

header {
  padding: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #364144;
  color: #c7c7c7;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: sans-serif;
  font-size: 20px;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  font-family: 'Trebuchet MS';
}

/* <------------ all links -----------> */
a {
  text-decoration: underline;
  color: #c7c7c7;
}

a:hover {
  color:#636e70; 
  text-decoration:underline; 
  cursor:pointer;  
}

html{
scroll-behavior: smooth;
box-sizing: border-box;
}

ul { 
  display: flex;
  justify-content: space-between;
}

.links li {
  color: #364144;
  text-decoration: underline;
  background-color: none;
}

/* <----------- cover photo image --------> */
.image {
  height: 200px;
  max-width: 100%;
  margin-bottom: 5px;
  background-image: url(../images/cover\ photo.jpg);
  background-size: auto;
  background-position: center;
  display: block;
  position: relative;
}

.subtitles {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #364144 ;
  color: #c7c7c7;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Trebuchet MS';
  font-size: 40px;
}

/* <------------- About me section of the website ---------->*/
.about-me {
  margin-left: 80px;
  margin-top: 10px;
  padding: 10px;
  height: 200px;
  display: flex;
}

.about-me h2 {
  margin-left: 60px;
  font-size: 50px;
  font-family: 'Trebuchet MS';
  text-align: right;
  border-right: solid #364144;
  padding-right: 10px;
  color: #364144;
}

.about-me p {
  margin-left: 20px;
  margin-top: 10px;
  padding-right: 70px;
  font-family: 'Trebuchet MS';
  color: #364144;
  background-color: white;

}

/* <------------ Work section of the website ------------->*/
.work {
  margin-left: 97px;
  margin-top: 30px;
  padding: 10px;
  height: 950px;
  display: flex;

}

.work h2 {
  margin-left: 60px;
  font-size: 50px;
  font-family: 'Trebuchet MS';
  text-align: left;
  border-right: solid #364144;
  padding-right: 10px;
  color: #364144;
}

/* <------------- contact me section of the website --------------> */
.contact-me {
  margin-top: 20px;
  margin-right: 40px;
  padding: 10px;
  height: 150px;
  width: 151px;
  display: flex;
}


.contact-me h2 {
  margin-left: 97px;
  font-size: 50px;
  padding-right: 10px;
  text-align: right;
  font-family: 'Trebuchet MS';
  border-right: solid #364144;
  color: #364144;
}

 .contact-me ul li {
  display: inline-block;
  margin-left: 180px;
  margin-top: 40px;
  font-family: 'Trebuchet MS';
  font-size: 18px;
  text-decoration: underline;
  color: #364144;
}

/*<-------------- work images section of the website ---------------> */
.content {
  display: flex; 
  flex-wrap: wrap;
  border: #364144;
  align-items: center;
  justify-content: center;

}

.surf-report {
width: 1380px;
height: 480px;
display: flex;
position: relative;
border: 8px solid #364144;
}

.surf-report img {
width: 1380px;
height: auto;
object-fit: cover;
}

.led-wall, .calculator, .pastel-puzzel, .run-buddy {
width: 680px;
height: 180px;
margin: 10px;
display: flex;
position: relative;
border: 8px solid #364144;
}

.led-wall img, .calculator img, .pastel-puzzel img, .run-buddy img {
width: 680px;
height: 164px;
object-fit: cover;
}

.work-image {
opacity: 0.6;
display: block;
width: 100%;
height: auto;
transition: .8s ease;
backface-visibility: hidden;
}

.work-image:hover {
  opacity: 1;
}

.text-block {
  position: absolute;
  bottom: -1px;
  left:  -1px;
  background-color: #364144;
  color: #c7c7c7;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Trebuchet MS';
  font-size: 20px;
}

